
    .now_playing_label {

    }

    .welcome_label {
        -fx-alignment: center;
        -fx-font: normal bold 30px 'Arial';
        -fx-text-fill: #950740;
    }

    .movie_title {
        -fx-alignment: center;
        -fx-font: normal bold 15px 'Arial';
        -fx-padding:4;
    }

    .movie_rating {
        -fx-font: normal bold 15px 'Arial';
     /*   -fx-padding:4; */
    }

    .movie_poster_image {
        -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);

    }

    .top_bar_pane {
        -fx-background-color: #1A1A1D;

    }
    .border_pane {
        -fx-background-color: #1A1A1D;

    }
    .flow_pane {

    }
