/*
    This CSS provides all the style settings for
    JavaFX controls
    @author Edward Rodriguez
 **/
    /* MAIN SCREEN CONTROLS AND LABELS*/
    .now_playing_label {

    }

    .welcome_label {
        -fx-alignment: center;
        -fx-font: normal bold 30px 'Arial';
        -fx-text-fill: #950740;
    }

    .movie_title {
        -fx-alignment: center;
        -fx-font: normal bold 15px 'Arial';
        -fx-text-fill: #e7e7e7;
        -fx-padding:4;
    }

    .movie_rating {
        -fx-font: normal bold 15px 'Arial';
        -fx-text-fill: #e7e7e7;
     /*   -fx-padding:4; */
    }

    .movie_poster_image {
        -fx-effect: dropshadow(three-pass-box, derive(blueviolet, -80%), 10, 0, 4, 4);

    }
    .filter_box {
        -fx-spacing: 15px;
        -fx-alignment: TOP_RIGHT;
    }
    .close_button {
        -fx-border-width: 0;
        -fx-background-radius: 0;
        -fx-background-color: transparent;
    }
    .minimize_button {
        -fx-border-width: 0;
        -fx-background-radius: 0;
        -fx-background-color: transparent;
        }

    .header_pane {
        -fx-spacing: 15px;
        -fx-alignment: CENTER;
        /*-fx-background-color: #1A1A1D;*/
        -fx-background-color: #000000;
    }
    .scroll_pane {
        -fx-background-color:transparent;
/*
        -fx-background-color: linear-gradient(from 0px 0px to 600px 600px, #000C40, #F0F2F0 );
*/
    }
    .window_pane {
        /*-fx-background-color: #1A1A1D;*/
        -fx-background-color: #000000;
        -fx-alignment: TOP_RIGHT;
    }
    .flow_pane {
        /*-fx-background-image: url("../img/cinemaBackground.jpg");
        -fx-background-repeat: stretch;
        -fx-background-position: center center;*/
/*
        -fx-background-color: linear-gradient(from 0px 0px to 600px 600px, #000C40, #F0F2F0 );
*/
    }

/* CREDIT FOR IMAGES:
    https://www.freepik.com/free-vector/dark-pixels-background_800591.htm">Designed by Freepik

*/
